bundle:
  name: {{ bundle_name_repr }}

artifacts:
  default:
    type: whl
    build: uv build --wheel
    path: .

resources:
  pipelines:
    {{ pipeline_key }}:
      name: {{ pipeline_key_repr }}
      catalog: {{ catalog_repr }}
      schema: {{ schema_repr }}
      serverless: true
      root_path: ${workspace.file_path}
      libraries:
        - glob:
            include: pipelines/{{ stream }}.py
      environment:
        dependencies:
          - ${workspace.root_path}/artifacts/.internal/*.whl

targets:
  dev:
    mode: development
    default: true
  prod:
    mode: production
